<!DOCTYPE html>
<html lang="en">
  <% day_offset = 0 %>
  <% if Time.now.saturday? %>
    <% day_offset = 2 %>
  <% elsif Time.now.sunday? %>
    <% day_offset = 1 %>
  <% end %>
  <head>
    <meta charset="utf-8">
    <title>Will Ella eat it?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


    <div class="container">
      <div class="hero-unit">
        <p><%= (Time.now+0*60*60).strftime("%A") %>'s Watertown, MA all schools lunch</p>
        <h1 id="menu" style="font-size: 5em; line-height: 1em;"><%= @menu[(Time.now+0*60*60).day][:menu] %></h1>
      </div>
      <div class="row">
        <div class="span6">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2" style="font-size: 2em; line-height: 1em;">Not-real Nutritional Information *</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Calories</td>
                <td>420</td>
              </tr>
              <tr>
                <td>Protein</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Carbohydrates</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Dietary Fiber</td>
                <td>420</td>
              </tr>
              <tr>
                <td>Total Sugars</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Saturated Fat</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cholesterol</td>
                <td>0</td>
              </tr>
              <tr>
                <td colspan="2"><strong>* I'm looking for real nutrition data</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span6" style="text-align: center;">
          <h1 style="font-size: 4em; line-height: 1em; text-align: center;">Will Ella eat it?</h1>
        </div>
        <div class="span6" style="text-align: center;">
          <% if @menu[Time.now.day+day_offset][:eatit] == "Yes" %>
            <h1 class="btn btn-success" style="font-size: 13em; line-height: 1em; text-align: center;">Yes</h1>
          <% elsif @menu[Time.now.day+day_offset][:eatit] == "No" %>
            <h1 class="btn btn-danger" style="font-size: 13em; line-height: 1em; text-align: center;">No</h1>
          <% elsif @menu[Time.now.day+day_offset][:eatit] == "Maybe" %>
            <h1 class="btn btn-warning" style="font-size: 13em; line-height: 1em; text-align: center;">Maybe</h1>
          <% end %>
        </div>
      </div>
      <h1>Coming up...</h1>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="20%"><%= (Time.now+0*24*60*60).strftime("%A") %></th>
              <th width="20%"><%= (Time.now+1*24*60*60).strftime("%A") %></th>
              <th width="20%"><%= (Time.now+2*24*60*60).strftime("%A") %></th>
              <th width="20%"><%= (Time.now+3*24*60*60).strftime("%A") %></th>
              <th width="20%"><%= (Time.now+4*24*60*60).strftime("%A") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @menu[(Time.now+0*24*60*60).day][:menu] %></td>
              <td><%= @menu[(Time.now+1*24*60*60).day][:menu] %></td>
              <td><%= @menu[(Time.now+3*24*60*60).day][:menu] %></td>
              <td><%= @menu[(Time.now+4*24*60*60).day][:menu] %></td>
              <td><%= @menu[(Time.now+5*24*60*60).day][:menu] %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <p>Service provided by <a href="http://www.mattmacdonald.com">Matt MacDonald</a></p>
        <p>Menu information is from the Watertown, MA <a href="http://www.watertown.k12.ma.us/dept/food/index.html">public schools all lunch menu</a>.</p>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>